{% extends "base.html" %} {% block content %}


<div class="container newmember col-md-offset-7">
    <form class="navbar-form navbar-default" role="search">
        <div class="form-group">
          <input type="text" class="form-control newmember" placeholder="New member I number">
        </div>
        <button id="newmember" type="button" class="btn btn-default">Add</button>
      </form>
</div>
<hr>

<div class="container member_list">
  {% include "member/member_table.html" %}
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script type=text/javascript src="{{ url_for('static', filename='js/member.js') }}"></script>
{% endblock %}