<div class="container member_table">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">User Id</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in paginate.items %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="container">
    {% if paginate.has_prev %}
    <button
        id = "Prev"
      type="button"
      class="btn btn-primary reloadbtn"
      page_num="{{ paginate.prev_num }}"
    >
      Prev
    </button>
    {% endif %} {% if paginate.has_next %}
    <button
      id = "Next"
      type="button"
      class="btn btn-primary reloadbtn"
      page_num="{{ paginate.next_num }}"
    >
      Next
    </button>
    {% endif %}
  </div>
</div>
