{% extends "base.html" %} {% block content %}

{% if current_user.is_authenticated %}
<div class="row">
        <div class="container newmember">
                <div class="input-group  col-md-3 col-md-offset-7">
                    <input type="text" class="form-control newmember" placeholder="New member I number">
                
                <span class="input-group-btn">
                        <button id="newmember" type="button" class="btn btn-default">Add</button>
                </span>
            </div>
        </div>
</div>

{% endif %}

<div class="container member_list">
    {% include "member/member_table.html" %}
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script type=text/javascript src="{{ url_for('static', filename='js/member.js') }}"></script>
{% endblock %}