[[source]]
verify_ssl = true
url = "https://pypi.douban.com/simple" 
name = "pypi"

[dev-packages]
ipython = "*"
"flake8" = "*"
watchdog = "*"
faker = "*"
yapf = "*"

[packages]
flask = "*"
flask-migrate = "*"
sqlalchemy = ">=1.3.0"
Jinja2 = ">=2.10.1"
flask-script = "*"
uwsgi = "*"
gitpython = "*"
python-dotenv = "*"
pip = "*"
flask-apscheduler = "*"
flask-bootstrap = "*"
flask-moment = '*'
flask-wtf = '*'