[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[requires]
python_version = "3.6"

[dev-packages]
ipython = "*"

[packages]
flask = "*"
flask-migrate = "*"
sqlalchemy = "*"
flask-script = "*"
uwsgi = "*"
