{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block
content %}

<div class="container">
  <label for="basic-url">How to update git commit history:</label>
  <div class="row">
    <div class="col-md-9">
      <pre>
        <code>
                CURL -H "Content-Type:application/json" -X POST http://10.129.126.245:4000/webhook
        </code>
        </pre>
    </div>

    <div class="col-md-1">
      {{ wtf.quick_form(form) }}
    </div>
  </div>

  {% if time %}
  <div class="container">
    <h3 class="text-center">
      Last update time: {{ moment(time).format("lll") }}
      <span
        class="label label-success"
        >{{ moment(time).fromNow(refresh=True) }}</span
      >
    </h3>
  </div>
  {% endif %} {% endblock content %}
</div>
