{% extends "base.html" %}
{% block content %}
<div id="new_task">
    <h2>Insert a new task</h2>
    <form action="#" method="post">
        <!-- this field is used to protect form against CSRF attacks -->

        {{ form.hidden_tag()}}
        <p>
            {{ form.title.label }}:
            {{ form.title }}
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            {{ form.start_time.label }}:
            {{ form.start_time(class='datepicker') }}
            {% for error in form.start_time.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            {{ form.end_time.label }}:
            {{ form.end_time }}
            {% for error in form.end_time.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            {{ form.release.label }}:
            {{ form.release }}
            {% for error in form.release.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            {{ form.submit() }}<br>
        </p>
    </form>
</div>

<h2>Task Record Lists</h2>
{% for task in tasks %}
<li>Record: title[{{task.title}}], timeperiod[{{task.timeperiod}}], date[{{task.timestamp}}]</li>
{% endfor %}
{% endblock %}