{% extends "base.html" %}
{% block content %}
<h1>Analyser</h1>
<h2>----- Jack</h2>

<div class="container">

    <p>How to update git commit history:</p>

    <pre>
    <code>
            CURL -H "Content-Type:application/json" -X POST http://10.129.126.245:4000/webhook
    </code>
    </pre>

</div>

<div class="container">
    <p>Members List:</p>
    


    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">User Id</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>


{% endblock %}